@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}
html, body {
    font-family: "Lora", serif;
    font-size: 16px;
    color: #797979;
    text-align: center;
}
/* Home -----------------------------------------------------*/
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
    /* font-family: Lora; */
}
.shell {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #bfbfbf;
    background-color:#965454;
    /* font-family: Lora; */
    color: #fff;
    font-size: 18px;
}
.header__shell {
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;
}
.logo {
    font-weight: 700;
}
.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
}
.nav__item:not(:first-child) {
    margin-left: 20px;
}
.nav__item {
    position: relative;
    padding: 15px 0;

}
.nav__link--drop::after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
}
.nav__list--dropdown {
    position: absolute; 
    background-color: #fff;
    right: 0;
    top: 100%;
    padding: 30px;
    display: block;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
@media (min-width: 769px) {
    .nav__link--drop:hover::after {
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    .nav__item:hover .nav__list--dropdown {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
    }
}
.burger {
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.burger::after {
    top: auto;
    bottom: 0;
}
.burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: #fff;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}
@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .header {
        padding: 15px 0;
    }
    .nav {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 400px;
        width: 80%;
        height: 100vh;
        z-index: 100;
        box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
        background-color: #fff;
        transform: translateX(-150vw);
        overflow-x: hidden;
        overflow-y: auto;
        background-color:#965454;
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        padding-top: 10%;
        position: relative;
    }
    .nav__item {
        margin-left: 0 !important;
        font-size: 20px;
        width: 100%;
        padding: 0;
        position: static;
    }
    .nav__link {
        padding: 20px 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #bfbfbf;
    }
    .nav__link::after {
        transform: rotate(-90deg);
    }
    .nav__list--dropdown {
        position: absolute;
        top: 0;
        right: auto;
        left: 100%;
        box-shadow: none;
        width: 100%;
        display: none;
    }
    .nav__list.transformation {
        transform: translateX(-100%);
        transition: all 0.3s;
    }
    .nav__list--dropdown.transformation {
        opacity: 1;
        visibility: visible;
        display: block;
        transform: none;
        background-color: #fff;
        transition: all 0.3s;
    }
    .nav.open {
        transform: translateX(0);
        transition: all 0.3s;
    }
    .overlay.open { 
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}

/* About ----------------------------------------------------*/
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 5; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 4; }
    .div5 { grid-area: 2 / 4 / 3 / 5; }
    .div6 { grid-area: 3 / 1 / 4 / 3; }
    .div7 { grid-area: 3 / 3 / 4 / 5; }
    

.about_head {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 200px;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: 
    "A A F F"
    "C D D E"
    "B B G G";
}
.box__1 {
    grid-area: A;
    justify-self: start;
}
.box__2 {
    grid-area: B;
    align-self: start;
    text-align: start;
    background-color: aqua;
}
.box__3 {
    grid-area: C;
    justify-self: end;
}
.box__4 {
    grid-area: D;
}
.box__5 {
    grid-area: E;
}
.box__6 {
    grid-area: F;
    justify-self: end;
}
.box__7 {
    grid-area: G;
    justify-self: end;
    align-self: end;
}
.ab_bg {
    /* font-family: Lora; */
    background-color: #bfbfbf;
    height: 300px;
}
.ab_name {
    font-size: 60px;
}
.ab_and {
    color: #965454;
}
.ab_text_1 {
    font-size: 20px;
    color: #965454;
    padding: 10px 0;
}
.ab_line {
    width: auto;
    height: 2px;
    background-color: #965454;
}
.polygon {
    display: flex;
    justify-content: center;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #bfbfbf;
	border-bottom: 25px solid transparent;
 }
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #bfbfbf;
	border-bottom: 25px solid transparent;
 }
.rectangle {
	width: 400px;
	height: 50px;
	background-color: #965454;
    padding: auto 0;
    display: flex;
    justify-content: space-between;
}
.ab_text_2 {
    font-size: 40px;
    padding-top: 90px;
}
.ab_data {
    font-size: 30px;
    color: #fff;
}
.ab_text_3 {
    background-color: #965454;
    width: auto;
    height: 200px;
    /* font-family: Lora; */
    font-size: 30px;
    color: #fff;
    padding-top: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.timer {
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* font-family: Lora; */
    font-size: 25px;
}
.timer__box1 { grid-area: 1 / 1 / 2 / 2; }
.timer__box2 { grid-area: 1 / 2 / 2 / 3; }
.timer__box3 { grid-area: 1 / 3 / 2 / 4; }
.timer__box4 { grid-area: 1 / 4 / 2 / 5; }
.timer__box5 { grid-area: 1 / 5 / 2 / 6; }
.timer__box6 { grid-area: 1 / 6 / 2 / 7; }
.timer__box7 { 
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    bottom: 70px;
}
.timer__box8 { 
    grid-area: 2 / 3 / 3 / 4;
    position: relative;
    bottom: 70px;
}
.timer__box9 { 
    grid-area: 2 / 4 / 3 / 5; 
    position: relative;
    bottom: 70px;
}
.timer__box10 { 
    grid-area: 2 / 5 / 3 / 6; 
    position: relative;
    bottom: 70px;
}
.circle_1 {
    width: 140px;
    height: 140px;
    background: #fff;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    position: relative;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_2 {
    width: 120px;
    height: 120px;
    background: #965454;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

/* Story ----------------------------------------------------*/
.story {
    background-color: #bfbfbf;
}
.st_title {
    font-size: 50px;
}
.st_btn {
    background-color: #965454;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
}

/* Event ----------------------------------------------------*/
/* Rsvp -----------------------------------------------------*/
/* Family ---------------------------------------------------*/
/* Gallery --------------------------------------------------*/
/* Blog -----------------------------------------------------*/
/* Contact --------------------------------------------------*/
/* Footer ---------------------------------------------------*/